body {
  font-family: poppins;
  background-color: black;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;

  gap: 40px;
}
.gridHistory {
  grid-template-columns: 1fr 1fr;
}
.gridHotels {
  grid-template-columns: 1fr 1fr 1fr;
}
.gridFooter {
  grid-template-columns: 1fr 2fr 2fr;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section .hotels {
  background-color: #181525;
}
.hotels h3 {
  text-align: center;
}
.galery h3 {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/101/353/original/vegas.jpeg?1697790293");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 200px;
  text-align: center;
}
header h3 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header button {
  border-radius: 8%;
  font-weight: bold;
  height: 53px;
  gap: 10px;
  letter-spacing: 3px;
  padding: 16px, 32px, 16px, 32px;
  text-transform: uppercase;
  width: 179px;
}
main section {
  color: white;
}
main h2 {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 30%;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: white;
}
main h4 {
  size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
main h5 {
  size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 50%;
}
main img {
  width: 570px;
  height: 481px;
  padding-top: 90px;
  max-width: 100%;
}
.card {
  background: #181525;
  margin: 30px 0;
}
.cardHeader.grid {
  gap: 0;
}
.card img {
  height: 100%;
  width: 100%;
}
.imgResponsive {
  width: 100%;
  display: block;
  padding: 0;
}
.hotelMaps {
  width: 100%;
  aspect-ratio: 1/1;
}
.cardBody {
  padding: 30px;
}
.cardFooter {
  padding: 30px;
}
.card p {
  size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.button {
  background-color: #462cb2;
  display: block;
  color: white;
  size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.instaEmbed {
  margin: 30px 0;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/101/354/original/vegas1.jpeg?1697790384");
  background-size: cover;

  background-repeat: no-repeat;
  color: white;
}
footer section a {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;

  line-height: 24px;
}

.openSource {
  color: white;
}
.openSource a {
  color: white;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  section {
    padding: 30px;
  }
  .cardHeader img {
    display: none;
  }
  .hotelMaps {
    aspect-ratio: 16/9;
  }
}
